*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    background-color: rgb(221, 221, 221);
}

.container{
    width: 100%;
    max-width: 1210px;
    height: 70%;
    margin: 0 auto;
    padding: 5px;
    
}

.navigation{
    width: 30%;
    height: 100%;
    padding: 15px 1%;
    text-decoration: none;
    background-color: rgb(97, 120, 153);
    box-shadow: 4px 3px 11px 2px rgb(49, 49, 49);
    display: inline-block;
}

.navigation h2{
    font-size: 21px;
}

.navigation > a > i{
    color: black;
    font-size: 25px;
    padding-right: 5px;
}

.topics-box{
    width: 68%;
    height: 100%;
    padding: 15px 1%;
    float: right;
    background-color:rgb(173, 177, 177);
    box-shadow: 4px 3px 11px 2px rgb(49, 49, 49);
}

.topics{
    width: 100%;
    max-width: 700px;
    padding: 15px 1%;
    /* display: none; */
    float: left;
    background-color:  rgb(221, 221, 221);
}